[submodule "plugins/pelican-plugins"]
	path = plugins/pelican-plugins
	url = https://github.com/getpelican/pelican-plugins.git
[submodule "plugins/my-toc"]
	path = plugins/my-toc
	url = git@github.com:NapsterInBlue/pelican-toc.git
[submodule "content/workspace/notebooks/LetterDistributions"]
	path = content/workspace/notebooks/LetterDistributions
	url = https://github.com/NapsterInBlue/LetterDistributions
[submodule "content/workspace/notebooks/The-Office-Lines"]
	path = content/workspace/notebooks/The-Office-Lines
	url = git@github.com:NapsterInBlue/The-Office-Lines.git
[submodule "plugins/ipynb"]
	path = plugins/ipynb
	url = https://github.com/danielfrg/pelican-ipynb.git
[submodule "content/workspace/notebooks/War"]
	path = content/workspace/notebooks/War
	url = git@github.com:NapsterInBlue/War.git
[submodule "content/workspace/notebooks/image_to_sprite"]
	path = content/workspace/notebooks/image_to_sprite
	url = git@github.com:NapsterInBlue/image_to_sprite.git
[submodule "content/workspace/notebooks/Movie-Posters-2017"]
	path = content/workspace/notebooks/Movie-Posters-2017
	url = git@github.com:NapsterInBlue/Movie-Posters-2017.git
[submodule "content/workspace/notebooks/circle"]
	path = content/workspace/notebooks/circle
	url = git@github.com:NapsterInBlue/circle.git
