[submodule "plugins/pelican-plugins"]
	path = plugins/pelican-plugins
	url = https://github.com/getpelican/pelican-plugins.git
[submodule "plugins/my-toc"]
	path = plugins/my-toc
	url = git@github.com:NapsterInBlue/pelican-toc.git
[submodule "plugins/ipynb"]
	path = plugins/ipynb
	url = https://github.com/danielfrg/pelican-ipynb.git
[submodule "content/workspace/notebooks/LetterDistributions"]
	path = content/workspace/notebooks/LetterDistributions
	url = https://github.com/NapsterInBlue/LetterDistributions
[submodule "content/workspace/notebooks/The-Office-Lines"]
	path = content/workspace/notebooks/The-Office-Lines
	url = git@github.com:NapsterInBlue/The-Office-Lines.git
