{
    max-width: 700px;
}

.text_cell .prompt {
    display: none;
}

div.cell {
    padding: 0;
}

div.text_cell_render {
    padding: 0;
}

div.prompt {
    padding: -2px;
    font-size: 13px;
    min-width: 9ex;
}

div.input_prompt {
    padding: .4em 0.2em;
}

div.output_prompt {
    padding: .1em .2em;
}

div.output_area{
    padding-bottom: 10px;
}

div.output_subarea {
    max-width: calc(100% - 10ex);
}

div.input_area {
    margin: .2em 0.4em;
    max-width: 650px;
}

table.dataframe {
    font-family: Arial, sans-serif;
    font-size: 13px;
    line-height: 20px;
}

table.dataframe th, td {
    padding: 4px;
    text-align: left;
}

pre code {
    background-color: inherit;
}

.highlight {
    padding-left: 4ex;
    background: #fff;
}

code, kbd, pre, samp {
    white-space: pre-wrap;
    word-break: break-word;
}

.dataframe thead tr:only-child th {
    text-align: left;
    background-color: #dae7f3;
}
